/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #f8e8ed;
    --brand-color: #e95693;
    --text-primary: #313131;
    --text-secondary: #6C6C6C;
    --shape: #ffffffd8;

    --font-family: "Poppins", sans-serif;
}

/* GERAL */
body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    padding-bottom: 40px;
}

/* CABEÇALHO */
header {
    background-color: var(--brand-color);
    color: white;
    text-align: center;
    padding: 32px 16px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 10px #00000015;
}

header h1 {
    font-size: 2.3rem;
    margin-bottom: 12px;
}

/* FOTO */
header img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;   
    overflow: hidden; 
    border: 4px solid white;
    box-shadow: 0 4px 12px #00000030;
}


/* MAIN */
main {
    max-width: 900px;
    margin: 40px auto;
    background-color: var(--shape);
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 4px 18px #00000015;
}

/* SEÇÕES */
h3 {
    font-size: 1.7rem;
    margin-bottom: 16px;
    color: var(--brand-color);
    text-align: center;
}
a{
    text-decoration: none;
    color: var(--brand-color);
}

.apresentacao p {
    line-height: 1.6;
    font-size: 1rem;
    color: var(--text-secondary);
    text-align: justify;
    margin-bottom: 32px;
}

/* PROJETOS */
.projetos ul {
    list-style: none;
    padding: 0;
}
.projetos li {
    margin: 12px 0;
    list-style: none;
}

.projetos a {
    display: block;
    padding: 14px 20px;
    background-color: var(--brand-color);
    color: white;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 4px 10px #00000020;
    transition: 0.3s ease;
    text-align: center;
}
/* EFEITO NO HOVER */

.projetos a:hover {
    background-color: #d9487f;  /* tom mais escuro */
    transform: translateY(-3px);
    box-shadow: 0 6px 14px #00000030;
}

/* FOOTER */
footer {
    text-align: center;
    margin-top: 30px;
    color: var(--text-secondary);
}

footer a {
    color: var(--brand-color);
    font-weight: 600;
}
