/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #f8e8ed;
    --brand-color: #e95693;
    --text-primary: #313131;
    --text-secondary: #4a4a4a;
    --shape: #ffffffd8;

    --font-family: "Poppins", sans-serif;
}

/* GERAL */
body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    padding-bottom: 40px;
}

/* CABEÇALHO */
header {
    background-color: var(--brand-color);
    color: white;
    text-align: center;
    padding: 32px 16px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 10px #00000015;
}

header h1 {
    font-size: 2.3rem;
    margin-bottom: 12px;
}

/* FOTO */
header img {
    max-width: 100%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;   
    overflow: hidden; 
    border: 4px solid white;
    box-shadow: 0 4px 12px #00000030;
}


/* MAIN */
main {
    max-width: 900px;
    margin: 40px auto;
    background-color: var(--shape);
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 4px 18px #00000015;
}

/* SEÇÕES */
h3 {
    font-size: 1.7rem;
    margin-bottom: 16px;
    color: var(--brand-color);
    text-align: center;
}
a{
    text-decoration: none;
    color: var(--brand-color);
}

.apresentacao p {
    line-height: 1.6;
    font-size: 1rem;
    color: var(--text-secondary);
    text-align: justify;
    margin-bottom: 32px;
}

/* PROJETOS */
.projetos ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.projetos a {
    
    display: block;
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 3px 10px #00000015;
    font-weight: 600;
    color: var(--text-primary);
    border-left: 6px solid var(--brand-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-left-width 0.3s ease;

}
/* EFEITO NO HOVER */

.projetos a:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px #00000025;
    border-left-width: 8px;
}

/* FOOTER */
footer {
    text-align: center;
    margin-top: 30px;
    color: var(--text-secondary);
}

footer a {
    color: var(--brand-color);
    font-weight: 600;
}
/* RESPONSIVIDADE */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.8rem;
    }

    main {
        padding: 20px;
    }

    .apresentacao p {
        font-size: 0.95rem;
        text-align: left; 
    }

    .projetos a {
        padding: 12px 16px;
        font-size: 0.95rem;
    }
}
